---
import Layout from '../../layouts/Layout.astro';
import Container from "../../layouts/Container.astro";
import { projects } from '../../data/projects.js';

export async function getStaticPaths() {
  return projects.map((project) => ({
    params: { id: project.id
    },
    props: { details: project.details },
  }));
}

const { id } = Astro.params;
const { details } = Astro.props;
---

<Layout>
  <Container>
    <a href="../#projects">volver</a>
    <h2>{ id }</h2>
    <p>{ details }</p>
  </Container>
</Layout>