---
import Image from "astro/components/Image.astro";

const {
  title = "Título del proyecto",
  category = "Categoria",
  description = "Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.",
  imageUrl,
  projectUrl,
} = Astro.props;
---

<!--TODO:
2. Cambiar el href por el componente button.
-->
<article class="flex flex-col rounded-xl overflow-clip md:flex-row">
  <Image
    src="/images/projects/astro-landing-page.png"
    alt="Astro Landing Page"
    width={200}
    height={400}
    class="bg-primary-200 w-full h-96"
  />
  <div class="flex flex-col w-full pt-8 pr-8 pb-6 pl-6 md:pt-10 md:pr-10 md:pl-10 gap-6 bg-gray-50">
    <div>
      <span class="px-3 py-1 rounded-full bg-gray-200 font-sans text-lg font-semibold text-gray-600">{category}</span>
    </div>
    <div class="flex flex-col gap-2">
      <h3 class="font-sans text-3xl font-medium text-gray-800">{title}</h3>
      <p class="font-sans text-xl text-gray-700 line-clamp-3">{description}</p>
    </div>
    <a href={projectUrl} class="text-blue-500 hover:underline ml-auto mt-auto">Ver proyecto</a>
  </div>
</article>
