---
import Image from "astro/components/Image.astro";

const {
  title = "Título del proyecto",
  category = "Categoria",
  description = "Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.",
  imageUrl,
  projectUrl,
} = Astro.props;
---

<!--TODO:
2. Cambiar el href por el componente button.
-->
<article class="flex flex-col rounded-xl overflow-clip md:flex-row">
  <Image
    src="/images/projects/astro-landing-page.png"
    alt="Astro Landing Page"
    width={200}
    height={400}
    class="bg-primary-200 w-full h-44 md:h-96"
  />
  <div class="flex flex-col w-full bg-gray-50 py-5 px-4 gap-4 md:pt-9 md:pb-6 md:px-8 md:gap-5 xl:px-10 xl:pt-10 xl:gap-6">
    <div>
      <span class="px-3 py-1 rounded-full bg-gray-200 text-sm md:text-base xl:text-lg font-semibold text-gray-600">{category}</span>
    </div>
    <div class="flex flex-col gap-2 md:gap-2.5 xl:gap-3">
      <h3 class="text-xl md:text-2xl xl:text-3xl font-medium text-gray-800">{title}</h3>
      <p class="md:text-lg xl:text-xl text-gray-700 line-clamp-3">{description}</p>
    </div>
    <a href={projectUrl} class="text-blue-500 hover:underline ml-auto mt-auto">Ver proyecto</a>
  </div>
</article>
