---
import Container from "../layouts/Container.astro";

import { Image } from "astro:assets";
import logo from "../assets/logo.svg";

import Tab from "../uikit/atoms/Tab.astro";
---
<!--TODO: 
1. Funcionalidad de cada tab seleccionarse cuando identifique una sección. 
2. Responsive design (menú hamburguesa)
3. Ir a inicio cuando se precione el logo
4. Refactorizar colores
-->
<header class="py-5 bg-primary-100/50 backdrop-blur-lg fixed w-full z-20 top-0">
  <Container>
    <a href="portfolio">
      <Image src={logo} alt="logo del portafolio" />
    </a>
    <nav class="flex w-full gap-2 items-center justify-end">     
      <Tab url="#about" tabId="a">Sobre mí</Tab>
      <Tab url="#work-experience" tabId="b">Experiencia</Tab>
      <Tab url="#projects" tabId="c">Proyectos</Tab>
      <Tab url="portfolio/CV-Cristian.pdf" tabId="cv" target="_blank">Ver CV</Tab>
    </nav>
  </Container>
</header>