---
import Logo from "../assets/logo.svg";
import Tab from "../uikit/atoms/Tab.astro";
---

<header class="py-2 fixed w-full z-20 top-0">
    <nav class="bg-primary-100/50 backdrop-blur-lg w-full max-w-screen-xl rounded-full m-auto px-8">
      <div class="flex flex-wrap items-center justify-between py-4">
        <a href="portfolio">
          <Logo class="w-60 xl:w-80"/>
        </a>
        <button id="mobile-menu-button" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-600 rounded-lg md:hidden hover:bg-primary-200 focus:outline-none focus:ring-2 focus:ring-primary-300" aria-controls="navbar-solid-bg" aria-expanded="false">
            <span class="sr-only">Abrir menu principal</span>
            <svg class="w-5 h-5 menu-icon transition-transform duration-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
            <svg class="w-7 h-7 close-icon hidden transition-transform duration-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
            </svg>
        </button> 
        
        <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
          <ul class="flex flex-col items-center md:items-end rounded-xl absolute right-8 gap-7 px-6 py-8 font-medium bg-gray-50 shadow-xl md:gap-4 md:py-4 md:relative md:flex-row md:bg-transparent md:px-0 md:shadow-none">
            <li>
              <Tab url="#about" tabId="a">Sobre mí</Tab>
            </li>
            <li>
              <Tab url="#work-experience" tabId="b">Experiencia</Tab>
            </li>
            <li>
              <Tab url="#projects" tabId="c">Proyectos</Tab>
            </li>
            <li>
              <Tab url="public/CV-Cristian.pdf" tabId="cv" target="_blank">Ver CV</Tab>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>

<script>
  const menuButton = document.getElementById('mobile-menu-button');
  const menuContent = document.getElementById('navbar-solid-bg');
  const menuIcon = menuButton?.querySelector('.menu-icon');
  const closeIcon = menuButton?.querySelector('.close-icon');

  menuButton?.addEventListener('click', () => {
    menuContent?.classList.toggle('hidden');
    
    const isExpanded = menuButton.getAttribute('aria-expanded') === 'true';
    menuButton.setAttribute('aria-expanded', (!isExpanded).toString());

    if (!isExpanded) {
      menuIcon?.classList.add('hidden');
      closeIcon?.classList.remove('hidden');
    } else {
      menuIcon?.classList.remove('hidden');
      closeIcon?.classList.add('hidden');
    }
  });
</script>