---
import Container from "../layouts/Container.astro";

import { Image } from "astro:assets";
import logo from "../assets/logo.svg";

import Tab from "../uikit/atoms/Tab.astro";
import Button from "../uikit/atoms/Button.astro";
---
<!--TODO: 
1. Funcionalidad de cada tab seleccionarse cuando identifique una sección. 
2. Responsive design (menú hamburguesa)
3. Ir a inicio cuando se precione el logo
4. Refactorizar colores
-->
<header class="py-5 bg-primary-100/50 backdrop-blur-lg fixed w-full z-1 top-0">
  <Container>
    <Image src={logo} alt="logo del portafolio" />
    <div class="flex w-full gap-2 items-center justify-end">
      <Tab href="#" tabId="a">Sobre mí</Tab>
      <Tab href="#" tabId="b">Experiencia</Tab>
      <Tab href="#" tabId="c">Proyectos</Tab>
      <Tab href="#" tabId="d">Ver CV</Tab>
      <div class="ml-3">
        <Button>¡Hablemos!</Button>
      </div>
    </div>
  </Container>
</header>