<section class="overflow-hidden bg-gradient-to-t from-primary-200 to-primary-100 whitespace-nowrap py-6 [mask-image:_linear-gradient(to_right,_transparent_0,_white_128px,white_calc(100%-128px),_transparent_100%)]">
  <div id="words-container" class="animate-wiggle flex items-center font-sans text-2xl text-gray-800"></div>
</section>

<script>
  const words = [
    "Sistemas de diseño",
    "Ingeniero de sistemas",
    "Prototipado",
    "Testeo con usuarios",
    "Wireframing",
  ];

  const wordsContainer = document.getElementById("words-container");

  let htmlContent = "";

  const duplicatedWords = [...words, ...words, ...words];

  duplicatedWords.forEach((word) => {
    htmlContent += `<div class="flex items-center"><div class="h-2 w-2 bg-primary-600 rounded-full ml-6 mr-6"></div><span>${word}</span></div>`;
  });

  if (wordsContainer) {
    wordsContainer.innerHTML = htmlContent;
  }
</script>
