---
const {
  words = ["Astro", "Desarrollo", "Web", "Componentes"],
  typingSpeed = 160,
  deletingSpeed = 40,
  delayAfterWord = 1000,
} = Astro.props;
---

<div class="flex bg-primary-200">
  <span id="typed-text" class="text-4xl text-primary-700"></span>
  <span class="text-4xl text-primary-700">_</span>
</div>

<script define:vars={{ words, typingSpeed, deletingSpeed, delayAfterWord }}>
  document.addEventListener("DOMContentLoaded", function () {
    const typedTextElement = document.querySelector("#typed-text");
    let wordIndex = 0;
    let charIndex = 0;
    let isDeleting = false;
    let currentText = "";

    function type() {
      const currentWord = words[wordIndex];

      if (isDeleting) {
        currentText = currentWord.substring(0, charIndex - 1);
        charIndex--;
      } else {
        currentText = currentWord.substring(0, charIndex + 1);
        charIndex++;
      }

      if (typedTextElement) {
        typedTextElement.textContent = currentText;
      }

      let typeSpeed = isDeleting ? deletingSpeed : typingSpeed;

      if (!isDeleting && charIndex === currentWord.length) {
        typeSpeed = delayAfterWord;
        isDeleting = true;
      } else if (isDeleting && charIndex === 0) {
        isDeleting = false;
        wordIndex = (wordIndex + 1) % words.length;
      }

      setTimeout(type, typeSpeed);
    }

    if (words.length) {
      setTimeout(type, 1000);
    }
  });
</script>
