---
interface Props {
  href?: string;
  tabId?: string;
  target?: "_self" | "_blank";
}

const { href="#", tabId, target="_self" } = Astro.props;
---
<a 
  id={tabId}
  href={href}
  class="tab text-base xl:text-lg p-3 relative text-gray-700 after:absolute after:bottom-[-2px] after:left-0 after:h-0.5 after:w-0 after:bg-primary-600 after:transition-all after:duration-300 hover:after:w-full"
  data-tab
  target={target}
>
  <slot />
</a>

<style>
  .tab.active {
    color: #0B66C3;
    font-weight: 600;
  }

  .tab.active::after {
    width: 100%;
  }
</style>