---
import Tab from '../atoms/Tab.astro';
import Button from '../atoms/Button.astro';
import OpenInNewIcon from '../../assets/icons/open_in_new.svg';

interface Props {
  behavior?: "navigationType" | "redirectionType";
}

const { behavior = "navigationType"} = Astro.props;
---

<nav class="flex items-center justify-between">

  <input type="checkbox" id="menu-toggle" class="hidden peer">

 <label 
    for="menu-toggle" 
    class="xl:hidden flex flex-col justify-center items-center w-10 h-10 cursor-pointer
        transition-all duration-300
        peer-checked:[&>span:nth-child(1)]:rotate-45 peer-checked:[&>span:nth-child(1)]:translate-y-[8px]
        peer-checked:[&>span:nth-child(2)]:opacity-0
        peer-checked:[&>span:nth-child(3)]:-rotate-45 peer-checked:[&>span:nth-child(3)]:-translate-y-[8px]"
    >
    <span class="block w-6 h-0.5 bg-primary-600 transition-all duration-300 group-hover:bg-primary-800"></span>
    <span class="block w-6 h-0.5 bg-primary-600 mt-1.5 transition-all duration-300 group-hover:bg-primary-800"></span>
    <span class="block w-6 h-0.5 bg-primary-600 mt-1.5 transition-all duration-300 group-hover:bg-primary-800"></span>
    </label>

  <ul class="
    flex flex-col gap-4 absolute top-[72px] right-4 left-4 bg-gray-50 rounded-xl shadow-lg p-6 
    opacity-0 translate-y-4 pointer-events-none transition-all duration-300
    peer-checked:opacity-100 peer-checked:translate-y-0 peer-checked:pointer-events-auto
    xl:flex-row xl:items-center xl:static xl:bg-transparent xl:shadow-none xl:opacity-100 xl:translate-y-0 xl:pointer-events-auto xl:p-0
  ">
    <li class="w-fit ml-auto mr-auto">
      <Tab href={(behavior==="redirectionType") ? "/#projects" : "#projects"} tabId="c">Proyectos</Tab>
    </li >
    <li class="w-fit ml-auto mr-auto">
      <Tab href={(behavior==="redirectionType") ? "/#work-experience" : "#work-experience"} tabId="b">Experiencia</Tab>
    </li>
    <li class="w-fit ml-auto mr-auto">
      <Tab href={(behavior==="redirectionType") ? "/#about" : "#about"} tabId="a">Sobre mí</Tab>
    </li>
    <li class="w-fit ml-auto mr-auto xl:ml-2">
      <Button href="/cv_cristian_narvaez.pdf" target="_blank" type="outline">
        Ver CV <OpenInNewIcon class="size-[18px] md:size-5 xl:size-6 fill-primary-600"/>
      </Button>
    </li>
    <li class="w-fit ml-auto mr-auto xl:ml-2">
      <Button href={(behavior==="redirectionType") ? "/#contact" : "#contact"}>Contactar</Button>
    </li>
  </ul>
</nav>