---
import Tag from '../atoms/Tag.astro';
---

<section class="flex flex-wrap justify-center bg-primary-200 px-5 pb-16 gap-x-2 gap-y-3 md:pb-24 md:gap-x-3 md:gap-y-4 xl:pb-28 xl:px-20 xl:gap-x-4 xl:gap-y-6">
    <Tag>Design thinking</Tag>
    <Tag>Investigación de usuarios</Tag>
    <Tag>Empatía</Tag>
    <Tag>Flujos de usuario</Tag>
    <Tag>Wireframes</Tag>
    <Tag>Prototipado</Tag>
    <Tag>Colaboración</Tag>
    <Tag>Sistemas de diseño</Tag>
    <Tag>UI Kits</Tag>
</section>