---
import Container from "../layouts/Container.astro";

import { Image } from "astro:assets";
import profilePhoto from "../assets/profilePhoto2.png";
import profileVector from "../assets/profileVector.svg";

import Button from "../uikit/atoms/Button.astro";
---

<section class="flex py-28 w-full bg-gray-100">
  <Container>
    <div class="grid gap-20 grid-cols-1 lg:grid-cols-2">
      <div class="bg-[url(../assets/profileBackground2.svg)] bg-cover w-full min-w-80 h-80 md:h-96 relative">
        <Image src={profilePhoto} alt="Foto de Cristian Narvaez." class="w-80 absolute bottom-0 left-1/2 -translate-x-1/2"/>
        <Image src={profileVector} alt="Linea de adorno." class="w-full absolute bottom-0"/>
      </div>
      <div class="flex min-w-80 flex-col gap-3 justify-center">
        <span class="text-2xl tracking-widest text-gray-800">SOBRE MI</span>
        <h2 class="text-5xl text-gray-800">Diseñador UX en Colombia</h2>
        <p class="text-xl text-gray-800">Soy estudiante de Ingeniería de Sistemas en etapa de tesis y un apasionado del diseño UX. Con mi formación técnica, busco conectar el diseño con el desarrollo, facilitando la colaboración. </p>
        <div class="flex gap-4 mt-6">
          <Button>Ver CV</Button>
        </div>
      </div>
    </div>
  </Container>
</section>