---
import Container from "../layouts/Container.astro";

import { Image } from "astro:assets";
import profile from "../assets/profile.png";

import Button from "../uikit/atoms/Button.astro";
---

<section class="flex py-20 w-full bg-gray-100 gap">
  <Container>
    <Image src={profile} alt="hola" class="mr-20"/>
    <div class="flex flex-col gap-3 justify-center">
      <span class="text-2xl tracking-widest font-medium text-gray-800">SOBRE MI</span>
      <h2 class="text-5xl text-gray-800">Diseñador UX en Colombia</h2>
      <p class="text-xl text-gray-800">Soy estudiante de Ingeniería de Sistemas en etapa de tesis y un apasionado del diseño UX. Con mi formación técnica, busco conectar el diseño con el desarrollo, facilitando la colaboración. </p>
      <div class="flex gap-4 mt-6">
        <Button>Habemos</Button>
        <Button>Ver mi CV</Button>
      </div>
    </div>
  </Container>
</section>