---
import Container from "../layouts/Container.astro";
---

<section class="flex py-20 w-full bg-sky-100 border-t-2 border-gray-300">
  <Container>
    <div class="flex w-full items-center border-2 border-sky-500">
      <p class="w-full py-10 font-sans text-5xl text-center bg-sky-200">About</p>
    </div>
  </Container>
</section>