---
import Container from "../../templates/Container.astro";

import { Image } from "astro:assets";
import profilePhoto from "../../assets/cristian_photo_without_bg.webp";

import Button from "../atoms/Button.astro";
---

<section id="about" class="flex w-full bg-gray-100 py-16 md:py-20 xl:py-28 scroll-mt-12">
  <Container>
    <div class="grid grid-cols-1 gap-10 md:gap-12 xl:gap-20 xl:grid-cols-2">
      <div class="bg-[url(../assets/vectors/wireframe_vector_2.svg)] bg-cover w-full min-w-80 h-64 md:h-80 xl:h-96 relative">
        <Image src={profilePhoto} alt="Foto de Cristian Narvaez." class="size-72 md:size-96 xl:size-[448px] absolute bottom-0 left-1/2 -translate-x-1/2"/>
        <div class="bg-primary-600 w-full h-2 absolute bottom-0 rounded-full"></div>
      </div>
      <div class="flex min-w-80 flex-col gap-3 md:gap-3.5 xl:gap-4 justify-center text-gray-800 font-sans">
        <span class="font-brand text-lg md:text-xl xl:text-2xl tracking-widest font-medium">SOBRE MI</span>
        <h2 class="font-brand text-3xl md:text-4xl xl:text-5xl font-semibold">Diseñador UX en Colombia</h2>
        <p class="text-base md:text-lg xl:text-x">Me considero un eterno aprendiz, me gusta leer libros, escuchar podcast, ver videos y conversar con otras personas con genuina curiosidad. Un reflejo de ello, es que aprendí a tocar la guitarra de esa manera, y por supuesto, no es la excepción; a diseñar...</p>       
        <!-- 
        <div class="flex justify-end mt-4 md:mt-6 xl:mt-8">
          <Button type="outline" href="https://ux-cristian.github.io/portfolio/CV-Cristian.pdf" target="_blank">Saber más</Button>
        </div>
        -->
      </div>
    </div>
  </Container>
</section>