---
import Container from "../../templates/Container.astro";
import IconButton from "../atoms/IconButton.astro";

import BehanceIcon from "../../assets/behance.svg";
import LinkedinIcon from "../../assets/linkedin.svg";
import EmailIcon from "../../assets/email.svg";
import LogoIcon from "../../assets/logo_footer.svg";
---

<section class="flex w-full bg-primary-600 py-16 md:py-20 xl:py-28">
  <Container>
    <div class="flex w-full flex-col gap-3 xl:gap-6">
      <LogoIcon class="h-12 xl:h-16 fill-primary-50 mx-auto my-4"/>
      <div class="flex w-full justify-center gap-4">
        <IconButton href="https://www.behance.net/cristianarvez" target="_blank"><BehanceIcon class="fill-primary-50 md:w-7 md:h-7 xl:w-9 xl:h-9"/></IconButton>
        <IconButton href="https://www.linkedin.com/in/ux-cristian/" target="_blank"><LinkedinIcon class="fill-primary-50 md:w-7 md:h-7 xl:w-9 xl:h-9"//></IconButton>
        <IconButton href="mailto:cristian08nc@gmail.com?subject=Consulta%20desde%20el%20portfolio&body=Hola,%0D%0AMe%20gustar%C3%ADa%20recibir%20m%C3%A1s%20informaci%C3%B3n%20sobre%20sus%20servicios%2Fproductos.%0D%0APor%20favor,%20cont%C3%A1ctenme%20a%20la%20brevedad.%0D%0A%C2%A1Gracias!"><EmailIcon class="fill-primary-50 md:w-7 md:h-7 xl:w-9 xl:h-9"//></IconButton>
      </div>
      <span class="mt-4 text-sm text-primary-50 text-center">© 2025 Cristian Narváez. Todos los derechos reservados.</span>
    </div>
  </Container>
</section>
