---
import Container from "../../templates/Container.astro";
import Avatar from "../atoms/Avatar.astro";
import AvatarURL from "../../assets/cristian_photo.jpg";
---

<section id="hero" class="bg-[url('../assets/vectors/level_curves.svg'),linear-gradient(to_top,theme(colors.primary.200),theme(colors.primary.100))] bg-cover flex mt-24 py-16 md:py-20 xl:py-28 w-full scroll-mt-12">
  <Container>
    <div class="flex flex-col w-full gap-4 md:gap-5 xl:gap-6 items-center text-gray-800">
      <div class="flex items-center w-full gap-6 md:gap-7 xl:gap-8">
        <Avatar src={AvatarURL} alt="Foto de Cristian Narváez"/>
        <h1 class="font-brand font-semibold text-4xl md:text-6xl xl:text-7xl">Cristian Narváez</h1>
      </div>
      <p class="text-xl md:text-2xl xl:text-3xl">Ingeniero de Sistemas con <strong>+2 años</strong> de experiencia como <strong class="font-bold">Diseñador UX</strong>. Combino mi formación técnica con la pasión por crear experiencias centradas en el usuario y el negocio.</p>
    </div>
  </Container>
</section>