<!--TODO: Refactorizar como el ui kit con el evento onclick que rediriga a un enlace ¿Es un <a>?-->

<button
  type="button"
  class="py-3 px-4 inline-flex items-center gap-x-2 text-lg font-semibold rounded-lg border border-transparent bg-primary-600 text-primary-100 hover:bg-primary-700 focus:outline-hidden focus:bg-primary-700 disabled:opacity-50"
>
  <slot />
</button>
